<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>IRIS Model deployment</title>
  
  <!-- HTML -->


  <!-- Custom Styles -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class=main>
    <div class="header">

      <div class="logo">
        IRIS
      </div>
      <div class="bars" id="bars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div id="menu-items">
        <div id="close-icon">
          &times;
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          
        </ul>
      </div>
    </div>
    <div style="padding: 1.5rem; max-width: 500px">
      <h1>About model</h1>
      <p> 
      	This model is designed with an aim of detecting the speices of iris plant with the help of its epal and petal(length and width). The KNN model is used for detction.
      </p>
      
    </div>
    
</div>
  <script src="/static/js/main.js"></script>
</body>

</html>